<!-- 
<mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  

  <button mat-flat-button	  color="accent">Click me!</button>

  <a mat-raised-button routerLink=".">Link</a> -->


<mat-sidenav-container>


  <mat-sidenav #LocSideNav  role="navigation"> 
    
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>
            <button  mat-button  (click)="LocSideNav.toggle()">
                    Menu

            </button>
    <div>LOGO</div>
    <div>
        <a routerLink="/welcome">Uday</a>
        <a routerLink="/training">Training</a>
        <a routerLink="/signup">SignUp</a>
        <a routerLink="/signin">SignIn</a>


    </div>
    </mat-toolbar>
      <!--Routing Data come Here-->
    <router-outlet></router-outlet>


  </mat-sidenav-content>


</mat-sidenav-container>
