
.example-container {
     display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* align-items: center; */ 
    /* width : 300px */
    width: 100%;
    flex-direction: column;

    background-color: blanchedalmond;
    height: 100%;


}

#in1{

    width: 200px;
}


/* input.ng-invalid.ng-touched{

        border: 1px solid yellow;
} */
